main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    padding-top: 1rem;
}

main>h1{
    font-size: 1.8rem;
    color: darkorange;
}

main>input{
    width: 90%;
    height: 2rem;
}

main>button{
    width: 91.5%;
    padding: 0.5rem 0;
    background-color: darkorange;
}

@media screen and (min-width: 768px){
    main>button{
        width: 50%;
    }

}