main{
    display: flex;
    flex-direction: column;
}

.listing{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
}

.listing:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.listing>img{
    
        width: 10rem;
        height: 10rem;
        object-fit: cover;
}

.listingdata{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

@media screen and (min-width: 600px) {
    body{
        #listingscontainer{
            margin: auto;
            width: 70%;
        }
    }
}