header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border: 1px solid black;
    margin-bottom: 8vh;
}

header>nav>ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}