header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: sticky;
    top: 0;
    padding: 0 1rem;
    font-size: 1.2rem;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
}

header a{
    margin: 0;
}

#logo{
    height: 4rem;
}

header>nav>ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

header>nav>ul>li>a{
    all: unset;
    color: darkorange;
    font-weight: bold;
}

header>nav>ul>li>a:hover{
    text-decoration: underline;
    cursor: pointer;
}

body{
    background-color: #f5f5f5;
    font-size: 1.5rem;
}